<!DOCTYPE HTML>
<html>
<head>
    <title>DNSMonks.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/dnsmonksstyle.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class="ml-0">
<header th:insert="header" />

<div th:insert="common-navbar :: navbar" />

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <div class="well well-sm">
                <h1>Learning DNS</h1>
                <br>
                <h2>DNS Resource Records</h2>
                <a href="/learning/dns-a-record">A records</a> map a hostname to an IPv4 address<br>
                <a href="/learning/dns-aaaa-record">AAAA records</a> map a hostname to an IPv6 address<br>
                <a href="/learning/dns-cname-record">CNAME records</a>, also known as aliases, map a hostname to another hostname<br>
                <a href="/learning/dns-mx-record">MX records</a> resolve mail records pointing to an email server<br>
                <a href="/learning/dns-txt-record">TXT records</a> are records which store textual information<br>
                <a href="/learning/dns-ns-record">NS records</a> are nameserver records for the domain<br>
                <a href="/learning/dns-soa-record">SOA records</a> are the start of authority records for the domain<br>
                <a href="/learning/dns-srv-record">SRV records</a> specify particular information about a service<br>
                <a href="/learning/dns-ptr-record">PTR records</a> are pointer records resolving an IP address to a hostname
                <br><br>
                <h2>Types of DNS Servers</h2>
                <b>Primary Nameservers</b>, previously known as Master Namservers, are the source of truth for a zone.<br>
                <b>Secondary Nameservers</b>, previously known as Slave Nameservers, perform zone transfers from the
                primary nameserver and served the zone data authoritatively.<br>
                <b>Recursive Nameservers</b> are nameservers that perform the recursion for a DNS query, performing DNS
                queries at the necessary authoritative nameservers and subsequently replying to client queries with the
                information gathered.<br>
                <b>Caching Nameservers</b>, typically also recursive nameservers, cache the DNS responses they receive,
                respecting the TTL values, and thus speeding up DNS resolution for clients.<br>
                <b>Authoritative Nameservers</b> are the primary and secondary nameservers for a zone.
            </div>
        </div>
    </div>
</div>
<br>
<footer th:insert="footer :: footer"></footer>
</body>
</html>