<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DNSMonks.com</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="dnsmonksstyle.css">

        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin=""/>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <!-- Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <!-- Boostrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>

    </head>
    <body class="ml-0">
        <header th:insert="header" />
        <div th:insert="common-navbar :: navbar" />
        <br />
        <script>
            function addNewClass() {
                document.getElementById("gdnscbody").classList.add('bg-info');
            }
        </script>
        <div class="container ml-0">
            <div class="card">
                <div class="card-header">
                    Global DNS Check
                </div>
                <div id="gdnscbody" class="card-body">
                    <form action="/query">
                        <input type="text" id="rr" name="rr" placeholder="example.com">
                            <select id="rrtype" class="form-select">
                                <option selected>A</option>
                                <option>AAAA</option>
                                <option>MX</option>
                                <option>TXT</option>
                            </select>
                            <br><br>
                            <button id="digbutton" class="btn" type="submit" style="background-color: #116062; color: white">   Dig!   </button>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <div class="container ml-0">
            <div class="row">
                <div class="col-lg-7 order-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <p id="query"></p>
                        </div>
                        <div class="card-body">
                            <div id="mapid" style="height: 400px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" order-lg-1>
                    <table class="table-hover ml-4">
                        <script th:inline="javascript">
                            var resolvers = /*[[${resolvers}]]*/ "";
                            var resolverorder = /*[[${resolverorder}]]*/ "";
                            var rrset2 = /*[[${rrset2}]]*/ "";
                            query = document.getElementById("rr").value
                            for (ip in resolverorder) {
                                document.write("<tr><td><table><tr><td><img src=\"" + resolvers['resolvers'][resolverorder[ip]]['Flag'] +
                                    "\" /></td><td>" +
                                    resolvers['resolvers'][resolverorder[ip]]['City'] + "</td></tr><td></td>" +
                                    "<td class=\"small\" valign=\"top\">" +  resolvers['resolvers'][resolverorder[ip]]['Name'] + "</td>" +
                                    "</tr><tr><td></td><td class=\"small\" valign=\"top\">" + resolverorder[ip] + "</td></tr>" +
                                    "</table></td>"
                                    + "<td><table id=\"" + resolvers['resolvers'][resolverorder[ip]]['id'] + "\" class=\"float-right\">");

                                document.write("</table></td></tr>");
                            }
                        </script>
                    </table>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            // Number of resolvers
            var num_resolvers=Object.keys(resolvers['resolvers']).length
            var fields_updated = num_resolvers

            $(document).ready(function(){
                async function resolveAfter2Seconds(query, rrtype, resolver) {
                    result = $.ajax({
                        url: "/dnsresolver" + "?rr=" + query + "&rrtype=" + rrtype + "&resolver=" + resolver,
                        type: "GET",
                        success: function(result){
                            return "result";
                        },
                        error: function(error){
                            reportError();
                        }
                    }); // ajax

                    return result;
                }

                let ansarray = [];

                async function sleep(time=1) {
                    const sleepMilliseconds = time * 1000
                    ansarray[time] = time;

                    return new Promise(resolve => {
                        setTimeout(() => {
                            resolve(`Slept for: ${sleepMilliseconds}ms`)
                        }, sleepMilliseconds)
                    })
                }

                function presleep(time=1) {
                    const sleepMilliseconds = time * 1000

                    answer = sleep(time);

                    return answer;
                }

                function updateUI(result) {
                    resolver = Object.keys(result)[0];
	                resolverid = resolvers['resolvers'][resolver].id;

                    var table = document.getElementById(resolverid);
                    for (var i =0; i < result[resolver].length; i++) {
                        var newRow = table.insertRow(table.length);
                        var cell = newRow.insertCell(0);
                        cell.className = 'small text-right text-break';
                        cell.innerHTML = result[resolver][i];
                    }
                    addCircle(resolver, result[resolver]);
                    fields_updated++;
                    if (fields_updated == 24) {
                        enableButton();
                    }
                }

                function enableButton() {
                    document.getElementById("digbutton").disabled = false;
                    document.getElementById("digbutton").style.background = "#116062";
                    document.getElementById("digbutton").innerHTML = "Dig";
                }

                function disableButton() {
                    document.getElementById("digbutton").disabled = true;
                    document.getElementById("digbutton").style.background = "grey";
                    document.getElementById("digbutton").innerHTML = "Digging...";
                }

                function addCircle(ip, qvalue) {
                    var qvalue = qvalue;
                    var ip = ip;
                    var circolor = 'green';
                    if (qvalue == "No resolution") {
                        circolor = 'red';
                    }
                    if (qvalue == "Connection timed out" || qvalue.includes("no servers could be reached")) {
                        circolor = 'orange';
                    }

                    mapcir = L.circle(resolvers['resolvers'][ip].Location, 500, {
                        color: circolor,
                        fillColor: circolor,
                        fillOpacity: 0.5
                    }).addTo(mymap).bindPopup(resolvers['resolvers'][ip].Name + "<br>" + resolvers['resolvers'][ip].City + "<br>" + qvalue);

                    mapcir.on('mouseover',function(ev) {
                        ev.target.openPopup();
                    });

                    mapcir.on('mouseout',function(ev) {
                        ev.target.closePopup();
                    });
                }

                function reportError(reason) {
                    console.log("An error has occurred...", reason);
                }


                async function main() {
                    // Disable the button
                    disableButton();

                    // Clear the table
                    for ( resolver in resolvers['resolvers'] ) {
                        var id = resolvers['resolvers'][resolver]['id'];
                        var table = document.getElementById(id);
                        table.innerHTML = "";
                    }

                    function clearMap() {
                        for(i in mymap._layers) {
                            if(mymap._layers[i]._path != undefined) {
                                try {
                                    mymap.removeLayer(mymap._layers[i]);
                                }
                                catch(e) {
                                    reportError(e)
                                }
                            }
                        }
                    }
                    clearMap();

                    // set the number of updated fields_updated to 0
                    fields_updated=0

                    query = document.getElementById("rr").value
                    rrtype = document.getElementById("rrtype").value
                    var qfield = document.getElementById("query");
                    if (query !== "") {
                        qfield.innerHTML = "Query: " + query + " " + rrtype;
                    }
                    else {
                        qfield.innerHTML = "";
                    }

                    query = document.getElementById("rr").value

                    function digall() {
                        for ( resolver in resolvers['resolvers'] ) {
                            resolveAfter2Seconds(query, rrtype, resolver).then( (result) => {
                                updateUI(result)
                                }, reason => {
                                reportError(reason)
                            });
                        }
                    }
                    digall()
                }

                $(document).on('click', 'button[type="submit"]', function(e) {
                    e.preventDefault();
                    main();
                });
            });

            var mymap = L.map('mapid', { zoomControl: true, scrollWheelZoom: false }).setView([30.0, -10.0], 1);
            function drawMap() {
                var query = /*[[${query}]]*/ "";
                var resolvers = /*[[${resolvers}]]*/ "";

                // L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFya2FwYWNrIiwiYSI6ImNseWpxYmRpYjBycGgyanI1a3VoYzNpbzkifQ.0PEGqiu6dUJGYS5C-otRVQ', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                    'Imagery &copy <a href="https://www.mapbox.com/">Mapbox</a>',
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1
                }).addTo(mymap);

                /*<![CDATA[*/
                    /*[# th:each="ans2 : ${rrset2}"]*/
                        var circolor = 'green';
                        var qvalue = /*[[${ans2.value}]]*/;
                        var ip = /*[[${ans2.key}]]*/;
                        if (qvalue == "No resolution") {
                            circolor = 'red';
                        }
                        if (qvalue == "Connection timed out" || qvalue.includes("no servers could be reached")) {
                            circolor = 'orange';
                        }

                        mapcir = L.circle(resolvers['resolvers'][ip].Location, 500, {
                            color: circolor,
                            fillColor: circolor,
                            fillOpacity: 0.5
                        }).addTo(mymap).bindPopup(resolvers['resolvers'][ip].Name + "<br>" + resolvers['resolvers'][ip].City + "<br>" + qvalue);

                        mapcir.on('mouseover',function(ev) {
                            ev.target.openPopup();
                        });

                        mapcir.on('mouseout',function(ev) {
                            ev.target.closePopup();
                        });

                    /*[/]*/

                /*]]>*/
	        }
	        drawMap();
        </script>
        <footer th:insert="footer :: footer"></footer>
    </body>
</html>
